section
	section
		h2 Que es un behavior
		p Un behavior, es la manera de extender un custom element para compartir el código entre diferentes componentes de Polymer y así añadir nuevas características al elemento que se este creando
		pre
			code
				include ../code/behavior/behavior1.html	
	section
		h3 Creación de nuestro propio behavior
		p Para crear nuestro propio behavior sólo hay que crear un nuevo documento html con un script en su interior
		pre
			code 
				include ../code/behavior/behavior2.html	
	section
		h3 Añadiendo el behavior a nuestro elemento
		p Para añadir el behavior anteriormente creado a un elemento propio y mejorar las funciones del mismo hay que realizar lo siguiente
		pre
			code
				include ../code/behavior/behavior3.html						 				