section
	section
		h2 Custom Elements
		p Un custom element es la manera que tienen los desarrolladores de crear su propio elemento en html añadiendo su propio código Javascript
	section
		h3 Cómo se llama a un Custom Element
		p Para llamar a un custom element hay que seguir unos pasos
		pre
			code <link rel="import" href="./components/nombreComponente.html">
			code <nombreComponente>