section
	section
		h2 HTML Template
		p Un HTML template es la manera que tienen los desarrolladores de componentes para crear la estructura del elemento a crear y que pueda ser llamado como custom element.La sintaxis típica de un elemento mediante el uso del template es la siguiente 
		pre
			code
				include ../code/htmltemplate/htmltemplate.html