section
	section
		h2 HTML Import
		p Es una característica fundamental en el desarrollo de componentes en Polymer y permite incluir documentos html en otros ficheros html.
		pre
			code <link rel="import" href="/rutaArchivoHtml">
	section
		h3 Carga de fichero tradicional
		p La carga de ficheros tradicional sin usar html import sería la siguiente
		pre
			code <link type="text/css" rel="stylesheet" href="hojaEstilo.css">
			code <link type="text/css" rel="stylesheet" href="hojaEstilo.css">