extends helpers/layout.pug

block content
  section
    h1 #{title}
  include intro.pug
  include bower.pug
  include htmlImport.pug
  include customElement.pug
  include htmlTemplate.pug
  include localDom.pug
  include shadowDom.pug
  include shadyDom.pug
  include polymerDom.pug
  include behavior.pug
  include vulcanize.pug
  section
    h1 Fin