section
  section
    h2 Introducción a Polymer y sus características
    p Polymer es un proyecto open-source para el desarrollo del front-end de los sitios web mediante el uso de HTML,CSS y Javascript para la creación de Web Components.

  section
    h2 Características para crear un Web Component
    ul
      li Templates
      li HTML Import
      li Shadow DOM
      li Customs Elements

  section
    h2 Polyfill
    p Un polyll es una librería que permite añadir nuevas funcionalidades a los navegadores web. Permite añadir características del estándar HTML5 a navegadores que no las poseen de manera nativa.
