section
	section
		h2 Árbol DOM
		p El DOM es un árbol formado por nodos padres e hijos que se crea al cargar un sitio web y cada nodo posee características del sitio web en concreto
		section
			h3 Local DOM
			p Cuando un elemento creado en Polymer maneja nodos del árbol DOM, se dice que el elemento está manejando el Local DOM.
		section
			pre
				code
					include ../code/localDom/arbolDom.html