section
	section
		h2 Polymer DOM
		p Polymer posee su propia API para realizar manipulaciones con el árbol DOM que genera el elemento a desarrollar. Para manipular los nodos, es OBLIGATORIO utilizar la API que proporciona ya que si no no sería posible realizar modificaciones
	section
		h3 Métodos que posee la API Polymer DOM
		p Añadir y eliminar hijos
		pre
			code
				include ../code/polymerDOM/polymerDom.html
	section
		p Métodos para trabajar con nodos padres e hijos
		pre
			code
				include ../code/polymerDOM/polymerDom2.html			 