section
	section
		h2 Shadow DOM
		p El shadow DOM, es la capacidad que tiene un elemento de crear un subarbol DOM a partir de un nodo de un árbol DOM o LocalDom. La diferencia principal entre este arbol que se genera a partir de un nodo, es que no se puede acceder a ninguna de las características del mismo desde el exterior. Es decir, el shadow DOM es una manera de encapsular el código de un elemento para que no sea accesible desde el exterior.
		ul
			li Demo de shadoDom: href="https://shop.polymer-project.org/
